# =========================
# Entorno virtual
# =========================
venv/
.env/
.venv/

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Archivos de entorno / secretos
# =========================
.env
*.env

# =========================
# Base de datos
# =========================
*.db
*.sqlite3

# =========================
# Logs
# =========================
*.log

# =========================
# Archivos del sistema
# =========================
.DS_Store
Thumbs.db

# =========================
# IDEs / editores
# =========================
.vscode/
.idea/

# =========================
# Archivos temporales
# =========================
*.swp
*.swo
*~
